option_settings:
  aws:elasticbeanstalk:application:environment:
    RDS_HOSTNAME: 
    RDS_PORT: 3306
    RDS_DB_NAME: crm_production
    RDS_USERNAME: 
    RDS_PASSWORD: 
    DATABASE_URL: mysql://username:password@hostname:3306/crm_production

Resources:
  AWSEBRDSDatabase:
    Type: AWS::RDS::DBInstance
    Properties:
      DBInstanceIdentifier: crm-production-db
      DBName: crm_production
      DBInstanceClass: db.t3.micro
      Engine: mysql
      EngineVersion: 8.0.35
      MasterUsername: crmadmin
      MasterUserPassword: 
        Ref: RDSPassword
      AllocatedStorage: 20
      StorageType: gp2
      VPCSecurityGroups:
        - Ref: AWSEBRDSDBSecurityGroup
      DBSubnetGroupName:
        Ref: AWSEBRDSDBSubnetGroup
      MultiAZ: false
      PubliclyAccessible: false
      StorageEncrypted: true
      BackupRetentionPeriod: 7
      DeletionProtection: false

  RDSPassword:
    Type: AWS::SSM::Parameter::Value<String>
    Default: /elasticbeanstalk/crm/rds/password
    NoEcho: true

  AWSEBRDSDBSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: RDS DB Security Group
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 3306
          ToPort: 3306
          SourceSecurityGroupId:
            Ref: AWSEBSecurityGroup

  AWSEBRDSDBSubnetGroup:
    Type: AWS::RDS::DBSubnetGroup
    Properties:
      DBSubnetGroupDescription: RDS DB Subnet Group for Elastic Beanstalk
      SubnetIds:
        - subnet-12345678
        - subnet-87654321

commands:
  01_install_mysql_client:
    command: "yum install -y mysql"
    ignoreErrors: true
