option_settings:
  aws:elasticbeanstalk:application:environment:
    JWT_SECRET: 
    ENCRYPTION_KEY: 
    SESSION_SECRET: 
  aws:ec2:vpc:
    VPCId: vpc-12345678
    Subnets: subnet-12345678,subnet-87654321
    ELBSubnets: subnet-12345678,subnet-87654321
    ELBScheme: internet-facing
    AssociatePublicIpAddress: true
  aws:autoscaling:launchconfiguration:
    SecurityGroups: default
  aws:elasticbeanstalk:environment:
    ServiceRole: aws-elasticbeanstalk-service-role

Resources:
  AWSEBSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: Security group for CRM application
      VpcId: vpc-12345678
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 0.0.0.0/0
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 0.0.0.0/0
        - IpProtocol: tcp
          FromPort: 8080
          ToPort: 8080
          SourceSecurityGroupId:
            Ref: AWSEBLoadBalancerSecurityGroup
      SecurityGroupEgress:
        - IpProtocol: -1
          CidrIp: 0.0.0.0/0

  AWSEBLoadBalancerSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: Load Balancer Security Group
      VpcId: vpc-12345678
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 0.0.0.0/0
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 0.0.0.0/0

files:
  "/opt/elasticbeanstalk/tasks/taillogs.d/01-app-logs.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/eb-engine.log
      /var/log/eb-hooks.log
      /var/app/current/logs/*.log

container_commands:
  01_setup_swap:
    command: |
      /bin/dd if=/dev/zero of=/var/swap.1 bs=1M count=1024
      /sbin/mkswap /var/swap.1
      /sbin/swapon /var/swap.1
    ignoreErrors: true
